.container{
    display: flex;

}

.box{
    width:200px;
    height: 200px;
    border: 8px solid rgb(64, 99, 25);
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.roundbox{
    border-radius: 50%;
}